<div id="videoContainer"></div>

<script>
$(document).ready(function() {
    var baseUri = './'; // trailing slash required
    var videoContainer = $("#videoContainer");
    var parentWidth = $(window).width();
    var parentHeight = $(window).height();
    videoContainer.width(parentWidth);
    var uriParams = getUriParameters();
    var objectId = uriParams["objectId"];
    var payloadName = uriParams["payload"];
    var playUri = baseUri + 'objects/' + objectId + '?payload=' + encodeURIComponent(payloadName).replace(/%2F/g,"/");
    var video = $('<video style="height:'+parentHeight+'px" controls>');
    video.attr("src", playUri);
    videoContainer.append(video);
});

function getUriParameters() {
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++) {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
</script>
